pandas==0.24.2
requests==2.22.0
scikit-learn==0.21.1
matplotlib==3.0.3
tensorflow==2.3.0
keras==2.4.3
pymysql
flask==1.0.2
flask_sqlalchemy==2.3.2
flask-migrate==2.4.0
Flask-Script==2.0.6
flask_login==0.4.1
sqlalchemy==1.2.1
flask_wtf==0.14.2
wtforms==2.2.1
flask_bootstrap==3.3.7.1
flask-nav==0.6
flask-paginate==0.5.2
werkzeug==0.16.0